/* Fonts */
/* ------------------------------------ */
$ff-main: "Montserrat", "Arial", sans-serif;
$ff-footer: "Marck Script", "Arial", sans-serif;

$ff-reserve: "Helvetica", "Arial", sans-serif;


/* Primitive Colors */
/* ------------------------------------ */

// $color-white: #FFFFFF;

/* Semantic Colors */
// Изолированные переменные конкретных компонентов
/* ------------------------------------ */

/* Components Colors */
/* ------------------------------------ */

/* Breakpoints */
/* ------------------------------------ */
$vp-tablet: 1023px;
$vp-mobile: 767px;

